*.pyc
*~
*.swp
*.bak

#Don't track the binary data files:
*.npy
*.pkl
*.pickle

#Don't track the image files:
*.png
*.jpg

#Don't track mac file
.DS_Store

#Don't track mac/linux .inputrc files
.inputrc

#Don't track Pycharm .idea folder
.idea
