# This is for readthedocs.org to be able to build the documentation,
# ignore otherwise
numpydoc

--allow-external theano
--allow-unverified theano
git+https://github.com/Theano/Theano.git#egg=theano
