# This is for readthedocs.org to be able to build the documentation,
# ignore otherwise
numpydoc
numpy>=1.6.2
scipy>=0.11

--allow-external theano
--allow-unverified theano
git+https://github.com/Theano/Theano.git#egg=theano
